html {
    margin-bottom: 0;
    border: none;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: auto;
    width: 100%;
    /*noinspection CssInvalidPropertyValue*/
    background-image: linear-gradient(to bottom, white 0%, white 31%, #F0F1F6 31%, #F0F1F6 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.nav-bar {
    display: flex;
    width: 100%;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.left-nav-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.left-nav-container a {
    display: inline-flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sign-in {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: hsl(228, 45%, 44%);
}

.button {
    background-color: turquoise;
    padding: 0.3rem;
    border-radius: 8px;
    color: white;
    border: none;
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto
    }
}

.body {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 20px;
    row-gap: 40px;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    justify-content: center;
    /*noinspection CssInvalidPropertyValue*/

}

.main-section-row-hero-text {
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.main-section-row-hero-text h1 {
    text-align: center;
    font-size: 80px;
    padding: 0;
    margin: 0;
}

.main-section-row-hero-text p {
    margin: 0;
    text-align: center;
}

.action-area {

    margin-top: 3em;
    margin-bottom: 3em;
    justify-items: center;
    justify-content: center;

}


.link-shortener-text-area {
    display: flex;
    flex-flow: row wrap;
    background-image: url("./images/bg-boost-desktop.svg");
    background-color: rebeccapurple;
    padding: 30px;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    grid-gap: 10px;
}

.link-shortener-text-area input {
    border: none;
    border-radius: 20px;
    flex: 1;
    padding: 10px;
}

form{
    width: 100%;
    display: flex;
}

button {
    border-radius: 10px;
    background-color: darkturquoise;
    color: white;
}

.process-explanation {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5em;
    padding-right: 5em;

}

.explanation-cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
    margin-bottom: 3em;
}

/*Trick found on the internet to display cards as a stair*/

.explanation-cards .connector {
    background-color: darkturquoise;
    align-self: center;
    width: 3em;
    height: 0.5em;
}

.explanation-cards .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.explanation-cards .expl2 {

    padding-top: 2em;
    height: 15em;
    width: auto;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 1.5em;
    background-color: white;

}

.explanation-cards .expl1 {
    padding-top: 2em;
    height: 15em;
    width: auto;
    padding-right: 2em;
    padding-left: 2em;
    background-color: white;
}

.explanation-cards .expl3 {
    padding-top: 2em;
    height: 15em;
    width: auto;
    padding-right: 2em;
    padding-left: 2em;
    background-color: white;
}

.brand-recognition-img {
    background-color: black;
    padding: 0.7em;
    position: relative;
    margin-top: -4em;
    border-radius: 50%;
    border-width: thin;
    width: 20%;
}

.detailed-records-img {
    background-color: black;
    padding: 0.7em;
    position: relative;
    margin-top: -4em;
    border-radius: 50%;
    border-width: thin;
    width: 20%;
}

.fully-custom-img {
    background-color: black;
    padding: 0.7em;
    position: relative;

    margin-top: -4em;
    border-radius: 50%;
    border-width: thin;
    height: auto;
    width: 20%;
}

.explanation-cards .expl3 {
    margin-top: 3em;
}

.Call-To-Action {
    background-color: rebeccapurple;
    background-image: url("./images/bg-boost-desktop.svg");
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    justify-content: center;
    text-align: center;
    color: white;
}

.Call-To-Action button {

    background-color: darkturquoise;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}

.footer-container {
    display: flex;
    flex-flow: row;
    background-color: black;
    color: white;
    padding: 2.5em 5em;
    justify-content: space-evenly;
    margin-bottom: 0;
    overflow: hidden;
}

.footer-container li {
    list-style-type: none;
}

.footer-container li:first-child {
    font-weight: bold;
    padding-bottom: 1em;

}

.social-contacts-container {
    justify-content: space-evenly;

    padding-top: 1em;
}

/* Hamburger menu machinations */


/* Responsiveness */

@media (max-width: 600px) {

    body {
        background-image: linear-gradient(180deg, white 0%, white 23%, #F0F1F6 23%, #F0F1F6 100%);
    }

    .body {
        flex-flow: column;
        justify-content: center;
        margin-bottom: 3em;

    }

    .main-section-row-working {
        justify-items: center;
        justify-content: center;
    }


    .action-area {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 3em;

    }



    .illustration-working {
        width: 100%;
        height: auto;

    }

    .explanation-cards {
        display: flex;
        flex-flow: column wrap;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .explanation-cards .expl1 {
        margin-bottom: 1.3em;
    }

    .explanation-cards .expl2 {
        margin-top: 1.3em;
        margin-bottom: 1.2em;
        height: 17em;
    }

    .explanation-cards .expl3 {
        margin-top: 1.3em;
    }


    .connector {
        transform: rotate(90deg);
    }

    .footer-container {

        display: flex;
        flex-flow: column;
        justify-items: center;
        text-align: center;
    }

    .footer-container div {
        text-align: center;
        align-items: center;
        align-content: center;

    }

    .footer-container div ul {
        padding-left: 0;
    }

    .brand-recognition-img {

    }

    .detailed-records-img {

    }

    .fully-custom-img {


    }


}

/* Appended shortened link area styling */

input:invalid {
    border: 1px solid red;
}


.external-div .shortened-url {
    color: darkturquoise;
}

.external-div {
    display: flex;
    flex-flow: row;
    background-color: white;
    justify-items: center;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 0.5em 10em;
    padding: 0.3em;
}



